# 69-wifi-p2p-go.network
[Match]
Name=p2p*
WLANInterfaceType=p2p-go

[Network]
Description=Rocknix Wi-Fi P2P Group Owner
# Standard P2P subnet (Commonly used in Android/Linux P2P)
Address=192.168.49.1/24
DHCPServer=yes
# IP Forwarding. NAT is handled externally by rxnm-system.
IPv4Forwarding=yes
IPv6Forwarding=yes
# Ensure local name resolution works for the group
MulticastDNS=no
LLMNR=yes

[DHCPServer]
PoolOffset=10
PoolSize=50
EmitDNS=yes
EmitRouter=yes
