# 70-br-usb-bind.network
[Match]
Name=usb* rndis*

[Network]
Description=Rocknix USB Bridge Member
Bridge=br-usb
# Disable L3 on the member links, handled by the bridge
LinkLocalAddressing=no
IPv6AcceptRA=no
