# 70-bluetooth-pan.network
[Match]
Name=bnep*

[Network]
Description=Rocknix Bluetooth PAN Host
Address=192.168.44.1/24
DHCPServer=yes
# IP Forwarding. NAT is handled externally by rxnm-system.
# Uses IPForward= for systemd 255 (ROCKNIX) compatibility.
# systemd 256+ deprecates this in favour of IPv4Forwarding=/IPv6Forwarding=
IPForward=yes
# Disabled to avoid conflict with Avahi
MulticastDNS=no
LLMNR=yes

[DHCPServer]
PoolOffset=10
PoolSize=50
EmitDNS=yes
