# 70-wifi-ap-share.network
# Unified RXNM AP Host Template (supersedes 71-wifi-ap.network)
[Match]
Name=wlan* mlan*
Type=wlan
WLANInterfaceType=ap

[Network]
Description=Rocknix AP Host (Shared)
Address=192.168.212.1/24
DHCPServer=yes
LinkLocalAddressing=yes
# ULA for local IPv6
Address=fd00:a7c:ade:50::1/64
IPv6SendRA=yes
# IP Forwarding. NAT is handled externally by rxnm-system.
IPv4Forwarding=yes
IPv6Forwarding=yes
# Multicast handled by Avahi
MulticastDNS=no
LLMNR=yes

[DHCPServer]
PoolOffset=10
PoolSize=50
EmitDNS=yes
EmitRouter=yes

[IPv6SendRA]
Managed=no
OtherInformation=no
