# 70-wifi-adhoc.network
[Match]
Name=wlan*
Type=wlan
WLANInterfaceType=adhoc

[Network]
Description=Rocknix Ad-Hoc
LinkLocalAddressing=yes
# Disabled to avoid conflict with Avahi
MulticastDNS=no
LLMNR=yes
