# 80-wifi-station.network
[Match]
Name=wlan* mlan*
Type=wlan
WLANInterfaceType=station

[Network]
Description=Rocknix Wi-Fi Default
DHCP=yes
LinkLocalAddressing=yes
# MulticastDNS=no: Delegates mDNS handling to the running avahi-daemon.
MulticastDNS=no
LLMNR=yes
IPv6AcceptRA=yes

[DHCPv4]
# Metric 20: Established hierarchy: Wired(10) > WiFi(20) > Tether(30)
RouteMetric=20
